body {
    background-image: image-set('./image/space.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    }
input {
    background-color:cornflowerblue;
    }
h1, h2 {
    color:cornflowerblue;
    }